.shopping-cart-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
}

.shopping-cart-modal {
    align-items: center;
    padding: 20px 16px;
    gap: 32px;
    
    position: absolute;
    width: 340px;
    min-height: 677px;
    right: 60px;
    top: 0px;
    
    background: #FFFFFF;
    z-index: 100;
    animation: shopping-cart-appereance 1s;
}

.shopping-cart-overlay {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    height: calc(100% - var(--header-height));
    background: rgba(57, 55, 72, 0.22);
    transition: opacity 200ms;
    opacity: 1; 
    z-index: 50;   
}

@keyframes shopping-cart-appereance {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.shopping-cart-content {
    padding: 0;
    width: 100%;
}

.shopping-cart-actions {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 12px;
    height: 43px;
    
    .shopping-cart-btn-bag {
        box-sizing: border-box;
        background: var(--clr-white);
        border: 1px solid var(--clr-black);
        font-weight: 600;
    }
}

.shopping-cart-header-modal {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
    width: 100%;
    /* identical to box height, or 26px */    
    text-align: left;    
    color: #1D1F22; 

    span 
    {
        font-weight: 500;
    }   
}

.shopping-cart-total-modal {
    height: 28px;    
    font-family: 'Raleway';
    font-style: normal;
    font-size: 16px;
    line-height: 160%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .shopping-cart-total-title {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 18px;
    }

    .shopping-cart-total-sum {
        font-weight: 700;
    }
}

.shopping-cart-total {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 5px;  
    width: 280px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: var(--clr-black); 

    .shopping-cart-total-row {
        display: flex;
        flex-direction: row;
        width: 100%;

        div {
            min-width: 105px;
        }

        span {
            font-weight: 500;
            text-align: right;
        }
    }
    
}

.shopping-cart-header {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    width: 100%;
    text-align: left;    
    color: var(--clr-black);
    text-transform: uppercase; 
}

hr {
    background-color: var(--clr-gray);
    height: 1px;
    border: none;
}

.cart-image-buttons {
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 1%;
    bottom: 5.25%;
    z-index: 30;
    width: 56px;
    justify-content: space-between;
    gap: 8px;
}

.cart-image-button {
    width: 24px;
    height: 24px;
    left: 0px;
    top: 95%;
    background: rgba(0, 0, 0, 0.73);
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover{
        transform: translateY(-3px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
    }
}