.shopping-cart-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
}

.shopping-cart-modal {
    align-items: center;
    padding: 32px 16px;
    gap: 32px;
    
    position: absolute;
    width: 325px;
    min-height: 677px;
    right: 60px;
    top: 0px;
    
    background: #FFFFFF;
    z-index: 100;
    animation: shopping-cart-appereance 1s;
}

.shopping-cart-overlay {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: calc(100% - var(--header-height));
    background: rgba(57, 55, 72, 0.22);
    transition: opacity 200ms;
    //visibility: hidden;
    opacity: 1; 
    z-index: 50;   
    //animation: shopping-cart-appereance 1ms;
}

@keyframes shopping-cart-appereance {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.shopping-cart-content {
    padding: 0;
    width: 100%;
}

.shopping-cart-actions {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 12px;
    height: 43px;
    
    .shopping-cart-btn-bag {
        box-sizing: border-box;
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 16px 32px;
        
        width: 140px;
        height: 43px;
        
        background: var(--clr-white);
        border: 1px solid var(--clr-black);

        font-family: 'Raleway';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 120%;

        display: flex;
        align-items: center;
        text-align: center;
        text-transform: uppercase;
    }
    
    .shopping-cart-btn-checkout {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 16px 32px;

        width: 140px;
        height: 43px;

        background: var(--clr-green);  

        font-family: 'Raleway';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 120%;

        // display: flex;
        // align-items: center;
        text-align: center;
        text-transform: uppercase;
        color: var(--clr-white);
    }
}

.shopping-cart-header {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
    width: 100%;
    /* identical to box height, or 26px */    
    text-align: left;    
    color: #1D1F22; 

    span 
    {
        font-weight: 500;
    }   
}

.shopping-cart-list {
    margin: 40px 0 40px 0;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.shopping-cart-item {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    
    width: 100%;
    height: 220px;    
    
    font-family: 'Raleway';
    font-style: normal;  

    .shopping-cart-image {
        width: 121px;
        height: 100%;    
        flex: none;
        order: 1;
        align-self: stretch;
        flex-grow: 1;
    }

    .shopping-cart-item-price {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 160%;        
    }
    
    .shopping-cart-item-quantity {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 0px;
        gap: 32px;
        
        width: 24px;
        height: 100%;
    
        .shopping-cart-item-quantity-btn {
            display: flex;
            box-sizing: border-box;
            border: 1px solid var(--clr-black);
            width: 24px;
            height: 24px;
            font-weight: 400;
            font-size: 20px;
            line-height: 160%;    
            flex-direction: row;
            align-items: center;
            justify-content: center;    
        }
    }

    .shopping-cart-item-info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        padding: 0px;
        gap: 8px;
        
        width: 136px;
        height: 100%;
        
    }
}

.shopping-cart-total {
    height: 28px;    
    font-family: 'Raleway';
    font-style: normal;
    font-size: 16px;
    line-height: 160%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .shopping-cart-total-title {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 18px;
    }

    .shopping-cart-total-sum {
        font-weight: 700;
    }
}

