.sizes {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
}

.size-header {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;  
}

.sizes-container {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}