.pdp-container {
    --product-card-detailed-image-wdith: 610px;
    --product-card-detailed-image-height: 511px;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    min-height: 595px;
    gap: 60px;
}

.pdp-images-container {
    display: flex;
    flex-direction: column;
    width: 170px;
    gap: 30px;
    max-height: 550px;
    overflow-y: auto;
    direction: rtl;

}

.pdp-small-image {
    max-width: 79px;
    max-height: 80px;

    &:onmouseover{
        transform: translateY(-3px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
    }
}

.pdp-image-div{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-left: 10px;
}

.pdp-image-container {
    display: flex;
    width: var(--product-card-detailed-image-wdith);
    height: var(--product-card-detailed-image-height);
    background-color: var(--clr-white);
}

.pdp-image {
    max-width: 100%;
    max-height: 100%;
}

.pdp-info-container {
    display: flex;
    flex-direction: column;
    width: calc(100vh - 300px);
    gap: 30px;
}

.pdp-info-title {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.pdp-info-description {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 159.96%;    
}

.out-of-stock-detailed {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    background: #c4c4c4c7;
    mix-blend-mode: lighten;    
    z-index: 10;
    min-width: 610px;
    min-height: 511px;
}

.text-box-out-of-stock-detailed {
    display: flex;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 38.4px;
    color: var(--clr-dark-gray) !important;
    position: relative;
    top: 0;
    left: 0;
    transform: translate(-100%, 0);
    text-transform: uppercase;
    z-index: 15;
    min-width: var(--product-card-detailed-image-wdith);
    min-height: var(--product-card-detailed-image-height);
    align-items: center;
    justify-content: center;
}