.product-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 16px;
    margin-bottom: 20px;
    
    width: var(--product-card-width);
    height: var(--product-card-height);
    
}

.product-card:hover {
    box-shadow: 0px 4px 35px 0px #A8ACB030;
    color: var(--clr-black);
    transform: scale(1.1);
}

.product-spacer {
    min-width: 24px;
    min-height: 24px;
    
    opacity: 0;
}

.product-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: var(--product-card-image-wdith);
    padding: 0px;    
    color: var(--clr-black);
}

.product-title {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 160%;
    //color: var(--clr-black);
    
}

.product-image-container {
    min-width: var(--product-card-image-wdith);
    min-height: var(--product-card-image-height);   
}

.product-image {
    width: var(--product-card-image-wdith);
    height: var(--product-card-image-height);
    object-fit: contain;
}

.product-price {
    font-family: 'Raleway';
    font-style: normal;
    //color: var(--clr-black);
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    /* identical to box height, or 29px */

    text-align: right;
}

.product-add-to-cart-button {
    background-color: var(--clr-green);
    border-radius: 50%;
    border: 1px solid var(--clr-green);
    padding: 18px;  
    z-index: 10;
    position: absolute;
    right: 20px;
    bottom: -30px;
    animation-name: show-button;
    animation-duration: 1s;
}

.product-add-to-cart-button:hover {
    box-shadow: 0px 4px 35px 0px #A8ACB030;
}

.product-container {
    position: relative;
}

.hide {
    display: none;
}

.product-card:hover .hide {
    display: block;
}

@keyframes show-button {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes zoom-on-hover {
    0% {
    }
    100% {
        transform: scale(1.1);
    }
}

.out-of-stock {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--clr-dark-gray);
    background: #c4c4c4c7;
    mix-blend-mode: lighten;    
    z-index: 10;
    text-transform: uppercase;

    min-width: var(--product-card-image-wdith);
    min-height: var(--product-card-image-height);
}

.text-box-out-of-stock {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 38.4px;
    color: var(--clr-dark-gray) !important;
    mix-blend-mode: normal;
    position: absolute;
    top: calc(var(--product-card-image-wdith)/2);
    left: calc(var(--product-card-image-height)/2);
    transform: translate(-50%, -50%);

    text-transform: uppercase;
    z-index: 15;
}

 .text-out-of-stock {
    color: var(--clr-dark-gray) !important;
 }